body {
  background-image: url("https://www.jewishvirtuallibrary.org/jsource/images/maps/Germancounter1.jpg");
  /* background-repeat: no-repeat;
  background-size: 100% 100%; */
  font-family: monospace;
}
/* #main-title {
  color: black;
  font-size: 2.2em;
  margin-left: 200px;
  margin-bottom: 0px;
} */

.navbar {
  background-color: black;
  color: white;
  margin-bottom: 10px;
  justify-content: center;
}

/* #game-board {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
} */

.active-ter {
  stroke: yellow;
  stroke-width: 4px;
}

.territory {
  /* background-color: lightblue; */
  height: 100px;
  width: 100px;
  padding: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#wrapper {
  width: 1100px;
  display: flex;
}

#game-board {
  flex: 0 0 67%;
  /* width: 850px; */
  border: 3px solid #FFB836;
  background-color: black;
  border-radius: 15px;
}

#view-box {
  padding: 10px;
}

#hud-box {
  flex: 1;
  margin-left: 8px;
  border: 3px solid #FFB836;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 15px;
  height: 540px;
}

#hud-title-div {
  text-align: center;
}

#hud-power-tag {
  text-align: center;
}

#info-bars-wrapper {
  margin-top: 10px;
  width: 1100px;
}

#option-bar {
  background-color: black;
  color: white;
  border: 3px solid #FFB836;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 15px;
}

#option-bar>*{
  display: inline-block;
}

#new-game-div {
  /* justify-content: flex-end; */
  margin-left: auto;
}

#text-box {
  border: 3px solid #FFB836;
  background-color: black;
  color: white;
  padding: 10px;
  height: 100px;
  margin-top: 10px;
  border-radius: 15px;
}

#hud-wrapper {
  /* margin-left: 25px; */
}

#hud-minimap {
  border: 1px solid black;
  border-radius: 15px;
  width: 200px;
  height: 220px;
  margin-left: 58px;
  background-color: RGB(252,251,233);
  position: relative;
}

#hud-minimap svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

#minimap-image {
  transform: scale(.5);
}

#power-adjust-div {
  margin-bottom: 20px;
  text-align: center;
}

#troops-bar {
  margin-bottom: 20px;
  text-align: center;
}

audio {
  margin-top: 50px;
  margin-left: 8px;
  width: 200px;
  height: 40px;
}

#scroll-box {
  float: left;
  height: 80px;
  width: 40px;
}

#scroll-box button {
  background-color: #FFB836;
  height: 30px;
  width: 30px;
  margin-top: 5px;
}

#scroll-box button:focus {
  outline-color: black;
}

#text-box h5 {
  margin: .5em;
}

#text-box p {
  margin: .5em;
}

/* #new-game {
  margin-left: auto;
} */




/*  */
