body {
  background-image: url("https://www.jewishvirtuallibrary.org/jsource/images/maps/Germancounter1.jpg");
  /* background-repeat: no-repeat;
  background-size: 100% 100%; */
  font-family: monospace;
}

.box {
  background-color: black;
  border-radius: 15px;
  color: white;
}

.vertical-center {
  /* margin: 0; */
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 30px;
}

/* .turn-1-box {
  border: 3px solid rgb(0,0,150);
}

.turn-2-box {
  border: 3px solid rgb(255,0,0);
} */

.navbar {
  background-color: black;
  color: white;
  margin-bottom: 10px;
  justify-content: center;
}

/* #game-board {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(4, 160px);
  grid-template-rows: auto auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
} */

.active-ter {
  stroke: yellow;
  stroke-width: 4px;
}

.territory {
  /* background-color: lightblue; */
  height: 100px;
  width: 100px;
  padding: 25px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
}

#wrapper {
  width: 1100px;
  display: flex;
}

#game-board {
  flex: 0 0 67%;
  /* width: 850px; */
  /* border: 3px solid rgb(0,0,150);
  background-color: black;
  border-radius: 15px; */
}

#view-box {
  padding: 10px;
}

#hud-box {
  flex: 1;
  margin-left: 10px;
  /* border: 3px solid rgb(0,0,150);
  background-color: black; */
  /* color: white; */
  padding: 10px;
  /* border-radius: 15px; */
  height: 546px;
  font-size: 18px;
}

#hud-title-div {
  text-align: center;
}

#hud-power-tag {
  text-align: center;
}

#hud-minimap {
  border: 1px solid black;
  border-radius: 15px;
  width: 200px;
  height: 220px;
  margin-left: 72px;
  background-color: RGB(252,251,233);
  position: relative;
}

#hud-minimap svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

#minimap-image {
  transform: scale(.5);
}

#minimap-image2 {
  transform: scale(.5);
}

#minimap-image3 {
  transform: scale(.5);
}

#power-adjust-div {
  margin-bottom: 20px;
  text-align: center;
}

#adj-power {
  margin: 0px 10px;
  font-size: 1.25rem;
}

#increase {
  margin: 0px 5px;
}

#decrease {
  margin: 0px 5px;
}

#troops-bar {
  margin-bottom: 20px;
  text-align: center;
}


#battle-result-div {
  text-align: center;
}

#battle-result {
  font-size: 24px;
}

#option-bar {
  /* background-color: black; */
  /* color: white; */
  /* border: 3px solid rgb(0,0,150); */
  height: 50px;
  margin-top: 10px;
  margin-bottom: 5px;
  /* border-radius: 15px; */
  /* text-align: center; */
}

#option-bar>*{
  display: inline-block;
}

#new-game {
  /* justify-content: flex-end; */
  margin-left: 10px;
}

#text-box {
  /* border: 3px solid rgb(0,0,150);
  background-color: black; */
  /* color: white; */
  padding: 10px;
  height: 120px;
  margin-top: 10px;
  /* border-radius: 15px; */
}

audio {
  /* float: right; */
  margin-left: 784px;
  height: 30px;
}

#scroll-box {
  float: left;
  height: 80px;
  width: 40px;
}

#scroll-box button {
  background-color: #FFB836;
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

#scroll-box button:focus {
  outline-color: black;
}

#text-box p {
  margin: .5em;
}

#phase-box {
  flex: 1;
  /* border: 3px solid rgb(0,0,150);
  background-color: black; */
  /* background-color: rgb(0,0,150); */
  /* color: white; */
  padding: 10px;
  height: 120px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 15px;
  text-align: center;
}

#current-phase {
  color: #FFB836;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 25% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* height: 50%; */
}

/* The Close Button */
/* .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */
